[Desktop Entry]
Type=Application
Name=aurpush
GenericName=AUR Publisher
Comment=Inspect, initialize, and publish Arch Linux packages to the AUR
Exec=aurpush
TryExec=aurpush
Terminal=true
Categories=Development;Building;
Keywords=AUR;Arch;PKGBUILD;makepkg;
StartupNotify=false
